@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, h3, h2, h1 {
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

h3, h2, h1 {
  font-weight: 700;
  line-height: 1.15;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

.wrapper {
  padding: 1rem 1.25rem;
}

nav.navbar {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1.25rem;
}
nav.navbar .logo {
  align-self: center;
}
nav.navbar ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
nav.navbar ul > li {
  flex: 1;
}
nav.navbar ul > li a {
  display: block;
  padding: 1.25rem;
  text-align: center;
  text-decoration: none;
  color: #23001E;
}
nav.navbar ul > li a:hover {
  color: #FFBA49;
}

h1 {
  font-size: 1.75rem;
  color: #23001E;
}

h2 {
  color: #EF5B5B;
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
  color: #EF5B5B;
}

p {
  font-weight: 400;
  line-height: 1.5;
}

.logo {
  max-width: 90px;
  margin-bottom: 1.25rem;
}

.swatch-board {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
}

.swatch {
  flex: 1 360px;
  display: flex;
  flex-flow: column nowrap;
  align-content: stretch;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: 1px solid #A4A9AD;
}
.swatch .swatch-title {
  margin: 0;
  padding: 1.25rem;
  border-bottom: 1px solid #A4A9AD;
}
.swatch .swatch-body {
  padding: 1.25rem;
  min-height: 240px;
}
.swatch .swatch-body svg {
  max-height: 320px;
  display: block;
}

.bg-primary-color {
  background-color: #23001E;
  color: #fff;
}

.bg-secondary-color {
  background-color: #EF5B5B;
  color: #fff;
}

.bg-terciary-color {
  background-color: #FFBA49;
  color: #000;
}

@media (min-width: 800px) {
  .wrapper {
    flex-flow: row nowrap;
  }

  .nav-wrapper {
    min-width: 210px;
    align-self: auto;
  }

  .nav-inner-wrapper {
    position: sticky;
    top: 1.5rem;
  }

  main {
    margin-left: 1rem;
  }
}