$breakpoint-md: 800px;
$breakpoint-lg: 1200px;

$font-stack: 'Lato', sans-serif;
$line-height: 1.15;
$font-weight: 400;

$primary-color:#23001E;
$secondary-color: #EF5B5B;
$terciary-color: #FFBA49;
$border-color: #A4A9AD