$breakpoint-md: 480px;
$breakpoint-lg: 800px;

$font-stack: 'Lato', sans-serif;
$line-height: 1.15;
$font-weight: 400;

$primary-color:#2E5077;
$secondary-color: #FFA630;
$terciary-color: #611C35;
$border-color: #D7E8BA;