@use 'variables';
@use 'reset';
@use 'font';

html {
    font-family: 'Lato', sans-serif;
    line-height: 1.15;
    font-weight: normal;
}

.page {
    padding: 20 / 16 * 1rem;
}

header {
    margin-bottom: 1.25rem;

    .logo {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-bottom: 1.25rem
    }
}

nav.navbar {
    ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        list-style-type: none;
        
        li {
            flex: 1 1 auto;
        }
    }

    a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 0.75rem 0.25rem;
        text-decoration: none;
        text-align: center;
        color: variables.$primary-color;

    }

    a:hover {
        color: variables.$terciary-color;
    }

    a:active {
        color: red;
    }
}

.banner {
    position: relative;
    overflow: hidden;
    height: 480px;
    margin-bottom: 2rem;

    .banner-picture {
        position: absolute;
        top: 0;
        z-index: -1;

        img {
            position: relative;
            top: 0;
            right: 420px;
            display: block;
        }
    }

    .banner-text {
        padding: 1rem;
    }

    h2 {
        margin-bottom: .75rem;
        color: variables.$primary-color;
    }

    h3 {
        margin-bottom: .75rem;
        color: variables.$secondary-color;
    }
}

.display-1 {
    font-size: 2.5rem;
    line-height: 1.15;
    font-weight: bold;
}

.display-2 {
    font-size: 1.75rem;
    line-height: 1.15;
    font-weight: bold;
    color: rgb(60, 60, 60);
}

main {
    margin-bottom: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: .50rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.50rem;
}

div.card {
    margin-bottom: 1.25rem;
    background-color: rgb(243, 243, 243);
    
    img {
        width: 100%;
    }
    
    .card-body {
        padding: 1rem;

        & > p {
            margin-bottom: 1.25rem;
        }
    }

    .card-title h2 {
        margin: 1rem 0;
        font-size: 1.25rem;
        font-weight: 900;
        line-height: 1;
        text-align: left;
    }

    .actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        p {
            padding: 0 1.25rem;
        }
    } 
}

footer {
    margin-bottom: 2rem;
}

@media screen and (min-width: variables.$breakpoint-md) {
    header {
        display: grid;
        grid-template-columns: 120px auto;
        grid-template-areas: "logo menu";

        .logo {
            align-items: flex-start;
            grid-area: logo;
        }

        .navbar {
            grid-area: menu;
        }
    }

    nav.navbar {
        ul {
            justify-content: flex-end;
            li {
                padding-left: 30 / 16 * 1rem;
                flex: initial;
            }
        }
    }

    .banner {
        height: 450px;

        .banner-picture {
            img {
                position: relative;
                top: -120px;
                right: 120px;
            }
        }
    }

    .featured-content-inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        & > .card-wrapper {
           flex: 1 1 180px;
           padding: 0 1rem 1rem 1rem;
        }
    }
}

@media screen and (min-width: 800px) {
    .page {
        max-width: 960px;
        margin: 0 auto;;
    }
    .banner {
        height: 450px;

        .banner-picture {
            img {
                position: relative;
                top: -120px;
                right: 0;
            }
        }
    }
}