@use 'font';
@use 'variables';
@use 'reset';

%text {
    margin-top: .75rem;
    margin-bottom: 1.25rem;
}

%title {
    @extend %text;
    font-weight: 700;
    line-height: 1.15;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    padding: 1rem 1.25rem;
}

nav.navbar {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1.25rem;

    .logo {
        align-self: center;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        & > li {
            flex: 1;

            a {
                display: block;
                padding: 1.25rem;
                text-align: center;
                text-decoration: none;
                color: variables.$primary-color;

                &:hover {
                    color: variables.$terciary-color;
                }
            }
        }
    }
}

h1 {
    @extend %title;
    font-size: 1.75rem;
    color: variables.$primary-color;
}

h2 {
    @extend %title;
    color: variables.$secondary-color;
    font-size: 1.50rem;
}

h3 {
    @extend %title;
    font-size: 1rem;
    color: variables.$secondary-color;
}

p {
    @extend %text;
    font-weight: 400;
    line-height: 1.5;
}

.logo {
    max-width: 90px;
    margin-bottom: 1.25rem;
}

.swatch-board {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}

.swatch {
    flex: 1 360px;
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: 1px solid variables.$border-color;

    .swatch-title {
        margin: 0;
        padding: 1.25rem;
        border-bottom: 1px solid variables.$border-color;
    }

    .swatch-body {
        padding: 1.25rem;
        min-height: 240px;
        
        svg {
            max-height: 320px;
            display: block;
        }
    }

}



.bg-primary-color {
    background-color: variables.$primary-color;
    color: #fff;
}

.bg-secondary-color {
    background-color: variables.$secondary-color;
    color: #fff;
}

.bg-terciary-color {
    background-color: variables.$terciary-color;
    color: #000;
}

@media (min-width: 800px) {
    .wrapper {
        flex-flow: row nowrap;
    }
    
    .nav-wrapper {
        min-width: 210px;
        align-self: auto;
    }

    .nav-inner-wrapper {
        position: sticky;
        top: 1.5rem;
    }
    
    main {
        margin-left: 1rem;
    }
}