@use 'variables';
@use 'reset';
@use 'font';

html {
    font-family: 'Lato', sans-serif;
    line-height: 1.15;
    font-weight: normal;
}

.page {
    padding: 20 / 16 * 1rem;
}

header {
    margin-bottom: 1.25rem;

    .logo {
        margin-bottom: 1.25rem
    }
}

nav.navbar {
    ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        list-style-type: none;
        
        li {
            flex: 1 1 auto;
        }
    }

    a {
        display: flex;
        padding: 0.75rem 0.25rem;
        text-decoration: none;
        text-align: center;
        color: variables.$primary-color;

        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    a:hover {
        color: slategray;
    }

    a:active {
        color: red;
    }
}

.banner {
    position: relative;
    overflow: hidden;
    height: 480px;
    margin-bottom: 2rem;

    .banner-picture {
        position: absolute;
        top: 0;
        z-index: -1;

        img {
            width: 100%;
            display: block;
        }
    }

    .banner-text {
        padding: 1rem;
    }

    h2 {
        margin-bottom: .75rem;
    }

    h3 {
        margin-bottom: .75rem;
    }
}

.display-1 {
    font-size: 2.5rem;
    line-height: 1.15;
    font-weight: 900;
}

.display-2 {
    font-size: 1.75rem;
    line-height: 1.15;
    font-weight: 900;
    color: rgb(60, 60, 60);
}

main {
    margin-bottom: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    margin-top: .50rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.50rem;
}

.featured-content {
    display: flex;
    flex-flow: column nowrap;
}

div.card {
    flex: 1;
    margin-bottom: 1.25rem;
    background-color: rgb(243, 243, 243);
    
    img {
        width: 100%;
    }
    
    .card-body {
        padding: 1rem;

        & > p {
            margin-bottom: 1.25rem;
        }
    }

    .card-title h2 {
        margin: 1rem 0;
        font-size: 1.25rem;
        font-weight: 900;
        line-height: 1;
        text-align: left;
    }

    .actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        p {
            padding: 0 1.25rem;
        }
    } 
}

footer {
    margin-bottom: 2rem;
}

.super-main-wrapper {
    display: flex;
    flex-flow: column nowrap;
    max-width: 960px;
    padding: .50em;
}

.main-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: stretch;
}